@media (min-width:320px){
  .md-show ~ .md-overlay, .couponDiv {
    display: none;
  }
}

@media (min-width:990px){
  .wtrMainNavigation{
    display: block !important;
  }
}

@media (max-width:990px){
  .wtrMainNavigation{
    position: absolute;
    width: 40%;
    background-color: #000;
    right: 0;
    float: none !important;
    margin: 0;
    border: solid 1px #333;
  }
  .wtrMainNavigation li{
    float: none !important;
    margin: 18px 0px 16px 40px !important;
  }
  
  .md-modal.md-fullpage{
    height: auto !important;
    width: 95% !important;
  }
  
  .mCustomScrollBox.mCS-light{
    overflow: scroll !important;
  }
  .mCSB_container{
    margin-right: 0;
  }
}

@media (max-width:768px){
  .optionsCnt .options{
    width: 100% !important;
    float: none !important;
  }
  .optionsCnt .options .optCol{
    display: inline-block !important;
  }
}

@media (max-width:640px){
  .wtrMainNavigation{
    width: 100%;
  }
  .mCSB_container input[type="submit"]{
    width: 100% !important;
  }
}
